<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdKxMyQQF9lROfj8-F90y_5KEVvpZ8UZw</string>
	<key>GCM_SENDER_ID</key>
	<string>633726745063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mprj</string>
	<key>PROJECT_ID</key>
	<string>fbapp-7d976</string>
	<key>STORAGE_BUCKET</key>
	<string>fbapp-7d976.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633726745063:ios:3b5b35f98030fe1b7aa542</string>
</dict>
</plist>